<div class="container">
    <div class="content-wrapper">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter your name">
        </mat-form-field>
        <button routerLink="/score" class="start-button" mat-button>Start</button>
        <h2>Leaderboard</h2>
        <div class="Leaderboard">
            <div class="row">
                <div class="name-col">Username</div>
                <div class="score-col">score</div>
            </div>
            <div class="row">
                <div class="name-col">Sam</div>
                <div class="score-col">300</div>
            </div>
            <div class="row">
                <div class="name-col">Charlie</div>
                <div class="score-col">125</div>
            </div>
            <div class="row">
                <div class="name-col">Mike</div>
                <div class="score-col">400</div>
            </div>
        </div>
    </div>
</div>
