<div class="container">
    <div class="content-wrapper">
        <div class="top-container">
            <div class="score-container">
              score: 10
            </div>
            <div class="timer-container">
             Time Left: 10s
            </div>
        </div>
        <div class="question-container">
            <div class="question">
             How many days are there in a years?
            </div>
            <button class="option" mat-button>350</button>
            <button class="option" mat-button>365</button>
            <button class="option" mat-button>373</button>
            <button class="option" mat-button>400</button>
            
        </div>
    </div>
</div>
